.Rproj.user
.Rhistory
.RData
.Ruserdata
.idea

#extras
ConcurrentComparatorOutput
scratch.R
simDb.sqlite
tests/testthat/errorReportSql.txt
testDb.sqlite
tests/testthat/testDb.sqlite
tests/testthat/testthat-problems.rds
*.zip
